<div class="container-fluid" style="padding-top: 5%; background-image:url(../src/bromo1.JPG); background-repeat:repeat; height: 900px">
  <div class="container" style="background-color:rgb(233, 233, 233)">
    <h1 class="my-4" style="font-family:courier; color:brown; text-align:center">
    <b>  CHOOSE WHAT  A DESTINATION YOU WANT </b>
    </h1>
  </div>
  <div class="row">
    <div class="col-sm-5">
    <app-waterEG-list></app-waterEG-list>
    </div>
    <div class="col-sm-7">
        <!-- <app-waterEG-detail
        *ngIf="selectedWaterEG; else infotext"></app-waterEG-detail> -->
      <router-outlet></router-outlet>
    </div>
    </div>
</div>