<div class="container-fluid" style="padding-top: 5%; background-image:url(../src/bromo1.JPG); background-repeat:repeat; height: 1500px">
  <div class="container" style="background-color:rgb(233, 233, 233)">
          <h1 class="my-4" style="font-family:courier; color:brown; text-align:center">
          <b>  CHOOSE WHAT  A DESTINATION YOU WANT </b>
      <!-- baris ke 1 -->
          </h1>
            <div class="row">
              <div class="col-lg-6 portfolio-item">
                <div class="card h-100" >
                  <a><img id="home" class="card-img-top" src="../src/kebun1.JPG" alt="image1">
                    <a routerLinkActive = "active" >
                        <a routerLink="/natureEG" 
                        style="font-size:20px; color:rgb(31, 192, 17); height:20px; font-family:sans-serif; text-align:center; ">
                       --- CLICK ME FOR NATUREVIEW DESTINATION --- </a> </a></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <!-- <button type="button" class="btn btn-primary"  style="text-align:center; ">Nature View</button> -->
                    </h4> 
                    <p class="card-text" style="text-align:center;"><b>Nature View <br>
                    Natureview adalah beberapa tempat untuk dapat menikmati berbagai pemandangan hijau,
                    berjalan dengan pemandangan hijau dan menikmati hangatnya matahari pasti sangat berkesan bukan. :) <br>
                    berikut ini adalah beberapa destinasi wisata yang mempunyai pemandangan hijau. </b><br> </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 portfolio-item">
                <div class="card h-100">
                  <a><img id="home" class="card-img-top" src="../src/2017_05_12_Pantai_Ngopet_Malang.JPG" alt="image">
                    <a routerLinkActive = "active" >
                        <a routerLink="/waterEG" 
                        style="font-size:20px; color:rgb(31, 192, 17); height:20px; font-family:sans-serif; text-align:center; ">
                         --- CLICK ME FOR WATER VIEW DESTINATION --- </a> </a></a>
                  <div class="card-body">
                    <h4 class="card-title">
                        <!-- <button type="button" class="btn btn-primary" href="#">Water View</button> -->
                         </h4>
                    <p class="card-text" style="text-align:center;"><b>Water View <br>
                      WaterView adalah beberapa tempat untuk dapat menikmati berbagai wahana air,
                      bermain air sejenak akan membuat kita refresh dan bisa melupakan masalah sejenak. :) <br>
                      berikut ini adalah beberapa destinasi wisata yang mempunyai wahana air. </b><br> </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <!-- gambar baris 2 -->
      <div class="container" style="background-color:rgb(107, 99, 99)">
          <!-- <h1 class="my-4" style="font-family:courier; color:brown; text-align:center">
          <b>  CHOOSE WHAT  A DESTINATION YOU WANT </b>
          </h1> -->
            <div class="row">
              <div class="col-lg-6 portfolio-item">
                <div class="card h-100" >
                  <a><img id="home" class="card-img-top" src="../src/kebun1.JPG" alt="image1">
                    <a routerLinkActive = "active" >
                        <a routerLink="/natureEG" 
                        style="font-size:20px; color:rgb(31, 192, 17); height:20px; font-family:sans-serif; text-align:center; ">
                       --- CLICK ME FOR NATUREVIEW DESTINATION --- </a> </a></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <!-- <button type="button" class="btn btn-primary"  style="text-align:center; ">Nature View</button> -->
                    </h4> 
                    <p class="card-text" style="text-align:center;"><b>Nature View <br>
                    Natureview adalah beberapa tempat untuk dapat menikmati berbagai pemandangan hijau,
                    berjalan dengan pemandangan hijau dan menikmati hangatnya matahari pasti sangat berkesan bukan. :) <br>
                    berikut ini adalah beberapa destinasi wisata yang mempunyai pemandangan hijau. </b><br> </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 portfolio-item">
                <div class="card h-100">
                  <a><img id="home" class="card-img-top" src="../src/2017_05_12_Pantai_Ngopet_Malang.JPG" alt="image">
                    <a routerLinkActive = "active" >
                        <a routerLink="/waterEG" 
                        style="font-size:20px; color:rgb(31, 192, 17); height:20px; font-family:sans-serif; text-align:center; ">
                         --- CLICK ME FOR WATER VIEW DESTINATION --- </a> </a></a>
                  <div class="card-body">
                    <h4 class="card-title">
                        <!-- <button type="button" class="btn btn-primary" href="#">Water View</button> -->
                         </h4>
                    <p class="card-text" style="text-align:center;"><b>Water View <br>
                      WaterView adalah beberapa tempat untuk dapat menikmati berbagai wahana air,
                      bermain air sejenak akan membuat kita refresh dan bisa melupakan masalah sejenak. :) <br>
                      berikut ini adalah beberapa destinasi wisata yang mempunyai wahana air. </b><br> </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <!-- baris ke 3  -->
      <div class="container" style="background-color:rgb(233, 233, 233)">
          <!-- <h1 class="my-4" style="font-family:courier; color:brown; text-align:center">
          <b>  CHOOSE WHAT  A DESTINATION YOU WANT </b>
          </h1> -->
            <div class="row">
              <div class="col-lg-6 portfolio-item">
                <div class="card h-100" >
                  <a><img id="home" class="card-img-top" src="../src/kebun1.JPG" alt="image1">
                    <a routerLinkActive = "active" >
                        <a routerLink="/natureEG" 
                        style="font-size:20px; color:rgb(31, 192, 17); height:20px; font-family:sans-serif; text-align:center; ">
                       --- CLICK ME FOR NATUREVIEW DESTINATION --- </a> </a></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <!-- <button type="button" class="btn btn-primary"  style="text-align:center; ">Nature View</button> -->
                    </h4> 
                    <p class="card-text" style="text-align:center;"><b>Nature View <br>
                    Natureview adalah beberapa tempat untuk dapat menikmati berbagai pemandangan hijau,
                    berjalan dengan pemandangan hijau dan menikmati hangatnya matahari pasti sangat berkesan bukan. :) <br>
                    berikut ini adalah beberapa destinasi wisata yang mempunyai pemandangan hijau. </b><br> </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 portfolio-item">
                <div class="card h-100">
                  <a><img id="home" class="card-img-top" src="../src/2017_05_12_Pantai_Ngopet_Malang.JPG" alt="image">
                    <a routerLinkActive = "active" >
                        <a routerLink="/waterEG" 
                        style="font-size:20px; color:rgb(31, 192, 17); height:20px; font-family:sans-serif; text-align:center; ">
                         --- CLICK ME FOR WATER VIEW DESTINATION --- </a> </a></a>
                  <div class="card-body">
                    <h4 class="card-title">
                        <!-- <button type="button" class="btn btn-primary" href="#">Water View</button> -->
                         </h4>
                    <p class="card-text" style="text-align:center;"><b>Water View <br>
                      WaterView adalah beberapa tempat untuk dapat menikmati berbagai wahana air,
                      bermain air sejenak akan membuat kita refresh dan bisa melupakan masalah sejenak. :) <br>
                      berikut ini adalah beberapa destinasi wisata yang mempunyai wahana air. </b><br> </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </div>