<div class="row">
    <div class="col-xs-12">
      <img [src]="waterEG.imagePath"
      alt="{{waterEG.name}}"
      class="img-responsive"
      style="max-height:300px">
    </div>
  </div>
  <div class="row">
    <div class="col-xs12">
      <h1>Destination Name</h1>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12">
        <div class="btn-group">
          <a class="dropdown" appDropdown>
          <button type="button"
            class="btn btn-primary dropdown-toggle">
            Manage Destination <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a (click)="onAddDestinationEG()" style="cursor:pointer;">To Destination List</a></li>
            <li><a (click)="onEditWaterEG()" style="cursor:pointer;">Edit Destination</a></li>
            <li><a (click)="onDeleteWaterEG()" style="cursor:pointer;">Delete Destination</a></li>
          </ul>
          </a>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-xs-12">
      {{waterEG.description}}
    </div>
  </div>
